
/* General */

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

#game {
    width: 1280px;
    height: 720px;

    position: relative;
    overflow: hidden;
}

#game img {
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
}

/* Door and Light Buttons */

#left-door-button {
    left: 35px;
    top: 327px;
}

#left-light-button {
    left: 35px;
    top: 369px;
}

#right-door-button {
    left: 1218px;
    top: 327px;
}

#right-light-button {
    left: 1218px;
    top: 369px;
}

#left-doorway-light {
    left: 79px;
    top: 151px;
    opacity: 0;
}

#left-doorway-bonnie {
    left: 80px;
    top: 151px;
    opacity: 0;
}

#right-doorway-light {
    left: 1082px;
    top: 153px;
    opacity: 0;
}

#left-door {
    left: 84px;
    top: -354px;
    /*158 door closed*/

    transition: top 0.7s;
}

#right-door {
    left: 1087px;
    top: -354px;
    /* 158 door closed */

    transition: top 0.7s;
}

#right-door-overlay {
    left: 1075px;

}

#left-window-light {
    left: 202px;
    top: 241px;
    opacity: 0;
}

#left-window-bonnie {
    left: 202px;
    top: 241px;
    opacity: 0;
}

#right-window-light {
    left: 1019px;
    top: 240px;
    opacity: 0;
}

#right-window-chica {
    left: 1020px;
    top: 240px;
    opacity: 0;
}


/* Monitor and Cameras  */

#monitor-button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:650px;

    z-index: 10;
}

#monitor{
    pointer-events: none;

    z-index: 20;
}

#camera-map{
    opacity: 0;
    pointer-events: none;

    z-index: 40;
}

#camera-buttons-div{
    position: absolute;
    opacity: 0;
    z-index: 50;

}
#cam-1a-button{
    left: 892px;
    top: 223px;
}

#cam-1b-button{
    left: 878px;
    top: 273px;
}

#cam-1c-button{
    left:818px;
    top: 350px;
}

#cam-2a-button{
    left: 882px;
    top: 497px;
}

#cam-2b-button{
    left: 882px;
    top: 545px;
}
#cam-3-button{
    left: 808px;
    top: 442px;
}

#cam-4a-button{
    left: 1033px;
    top: 497px;
}

#cam-4b-button{
    left: 1033px;
    top: 545px;
}

#cam-5-button{
    left: 748px;
    top: 307px;
}

#cam-6-button{
    left: 1161px;
    top: 445px;
}

#cam-7-button{
    left: 1190px;
    top: 302px;
}

#camera-background{
    opacity: 0;
    pointer-events: none;

    z-index: 25;

}