body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

#game{
    width: 1280px;
    height: 720px;

    position: relative;
    overflow: hidden;
}

#game img{
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
}

#left-door-button{
    left:35px;
    top: 327px;
}

#left-light-button{
    left:35px;
    top:369px;
}

#right-door-button{
    left: 1218px;
    top: 327px;
}

#right-light-button{
    left: 1218px;
    top: 369px;
}

#left-doorway{
    left: 79px;
    top: 151px;
    opacity: 0;
}

#right-doorway{
    left: 1082px;
    top: 153px;
    opacity: 0;
}

#left-door{
    left: 84px;
    top: -354px; /*158 door closed*/

    transition: top 0.7s;
}

#right-door{
    left: 1087px;
    top: -354px; /* 158 door closed */

    transition: top 0.7s;
}

#right-door-overlay{
    right:0;
}

#left-window{
    left: 202px;
    top: 241px;
    opacity: 0;
}

#right-window{
    left: 1019px;
    top: 240px;
    opacity: 0;
}
