body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(27, 25, 25);
}

#game{
    width: 1280px;
    height: 720px;

    position: relative;
}

#game img{
    position: absolute;
}

#left-door-button{
    left:35px;
    top: 327px;
}

#left-light-button{
    left:35px;
    top:369px;
}

#right-door-button{
    left: 1218px;
    top: 327px;
}

#right-light-button{
    left: 1218px;
    top: 369px;
}

#left-doorway{
    left: 79px;
    top: 151px;
    opacity: 0;
}

#right-doorway{
    left: 1082px;
    top: 153px;
    opacity: 0;
}

#left-window{
    left: 202px;
    top: 241px;
    opacity: 0;
}

#right-window{
    left: 1019px;
    top: 240px;
    opacity: 0;
}
